@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Surana College South End Campus<br/>
    Address: No. 16, South End,<br/>
    Bangalore – 560004<br />
    <abbr title="Phone">P:</abbr>
    080-2663 0300 / 2244 6141 / 26642292
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ugprincipal@suranacollege.edu.in">
   
  ugprincipal@suranacollege.edu.in</a><br />
    </address>